<!-- <div class="head">
  <h2>Dashboard</h2>
</div>
<div class="body"> 

<form action="#">
  <div class="form-group">
    <label class="" for="sample3">Text...</label>
    <input class="form-control" type="text" id="sample3">
    
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-group">
   <select class="js-example-basic-single  form-control">
    <option value="AL">Alabama</option> 
    <option value="WY">Wyoming</option>
  </select>
  </div>
</form> 

</div> -->