<!DOCTYPE html>
<html class="no-js before-run" lang="en">
<head>
   <%- include header.ejs %> 
</head>
<body>

<div class="container-fluid dashboard"> 
    
    <%- include nav.ejs %> 

    <div class="right_content">
        <div class="wrapper">
        	<div class="loader hide">
        		<div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        	</div>
            <div id="page" class="page">
                 <%- include dashboard.ejs %>
            </div>
        </div> 
    </div>
</div> 

<%- include footer.ejs %>

</body>

</html>